@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

}

* {
  box-sizing: border-box;
}

html {
  font-family: Roboto, Arial;
  color: white;
  background-color: hsla(0, 0%, 10%, 1);
  background-image: url('./assets/images/bg.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  scroll-behavior: smooth;
}

.ctn {
  @apply max-w-7xl mx-auto p-8;
}

header {
  background-image: url('./assets/images/bg-header.jpg');
  background-position: center;
  background-size: cover;
  height: 80vh;
  display: grid;
  place-content: center;
  text-align: center;
  padding: 2rem;
}

main {
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Montserrat, Arial;
  color: white
}

h1 {
  font-size: 4rem;
  font-weight: bold;
  text-shadow: 0px 0px 5px black;
}

h2 {
  @apply text-xl mb-4
}

#grade img {
  width: 100px;
}

#poste .button-poste {
  @apply cursor-pointer flex flex-col gap-2 p-4 border rounded aspect-square w-32;
}

#unite .button {
  @apply cursor-pointer border rounded p-2;
}

#operators {
  grid-template-columns: repeat(auto-fill, minmax(160px, auto));
}

.card .bio > li {
  color: white;
  border-bottom: 1px solid white;
  padding: 10px;
}

.card .bio > li:last-child {
  border-bottom: none;
}

#modal {
  @apply z-10 fixed inset-0 flex;
  background-color: hsla(0, 0%, 50%, 0.2);
  backdrop-filter: blur(1px);
}

.ctn-modal {
  @apply relative rounded-xl w-4/5 max-w-xl m-auto;
  background-color: hsla(0, 0%, 10%, 1);
  background-position: right bottom;
  background-size: contain;
  background-repeat: no-repeat;
}

.ctn-modal li {
  border-bottom: 1px solid white;
}

.ctn-modal li:last-child {
  border-bottom: none;
}

.ctn-modal span {
  @apply text-lg;
}

footer {
  background-color: hsla(0, 0%, 10%, 1);
}